body {
  background-color: var(--beige);
}

/* ------------------------------------CONTACT CONTAINER-------------------------------------- */

.contact-container {
  display: flex;
  justify-content: center;
  padding: 5% 5% 0 5%;
}

.contact-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.contact-item {
  padding: 0.5em;
}

.form-label {
  font-size: 1.5rem;
  color: var(--white);
}

.form-input {
  font-size: 1rem;
  outline: none;
  height: 40px;
  border-radius: 5px;
  border: none;
}

.submit-btn {
  background-color: var(--green);
  color: var(--white);
  font-size: 1rem;
  padding: 0.5em 1em;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s;
  border: 1px solid var(--white);
  font-weight: bolder;
}

.submit-btn:hover {
  background-color: var(--white);
  color: var(--green);
  border: 1px solid var(--green);
}

.form-label,
.form-input {
  margin-bottom: 2em;
}

@media screen and (max-width: 670px) {
  .contact-item:nth-child(even) > input {
    width: 110%;
  }
  .form-input {
    height: 30px;
  }

  .form-label {
    font-size: 1rem;
  }
}
